
<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('navbar') %>
    <div class="jumbotron">
      <div class="container">
        <h1>Better Choices For The Electorate.</h1>
        <p>Let's improve democracy.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>The real power:<br/>Choosing the choices</h2>
          <p>Two or three parties for millions of voters. Candidates chosen behind the scenes. Power to vote for the slightly less unacceptable choice with little say of who is on the ballot.</p>
        </div>
        <div class="col-md-4">
          <h2>"None Of The Above"</h2>
          <p>Whatever you put to the vote, whatever choices you give, there will always be an additional one: <strong>None Of The Above</strong> is an online voting platform and it does this, built into the system, with no possibility to override it.</p>
       </div>
        <div class="col-md-4">
          <h2>Distilling the best options, getting the best candidates.</h2>
          <p><strong>Your election is invalid: More than half of the votes were "none of the above".</strong>. That's how it works - if a simple majority of voters rejects all candidates, the referendum is nil and void: Improve the options, improve the question, then try again. With luck, eventually we'll get the best, most qualified people and the closest thing to what voters actually want.</p>
        </div>
      </div>
      <%- include('footer') %>
    </div> <!-- /container -->
      <%- include('scripts') %>
  </body>
</html>

