
<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('navbar') %>


    <div class="container">
      Voter registration.

      <%- include('footer') %>
    </div> <!-- /container -->
      <%- include('scripts') %>
  </body>
</html>

